*{
  padding: 0;
  margin: 0;
}
*, *::after, *::before{
  position: relative;
  box-sizing: border-box;
}
[v-cloak] {
  display: none;
}
body{
  touch-action: none;
  font-family: Microsoft YaHei;
}
html, body, #app{
  width: 100%;
  height: 100%;
}
#app{
  color: #333;
  background: #eee;
  overflow: hidden;
}
#star{
  position: fixed;
  transition: opacity 1s;
  opacity: 0.8;
}
img[lazy=loading]{
  opacity: 0;
}
img[lazy=loaded] {
  opacity: 1;
  transition: opacity 0.3s;
}
/* 菜单 */
.menu{
  position: absolute;
  width: 100%;
  padding: 2em;
  text-align: right;
  z-index: 3;
}
.menu i{
  cursor: pointer;
  font-size: 1.5em;
  color: #8d8d8d;
}
/* 遮罩 */
.cover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 3em;
  overflow-y: auto;
  transition: opacity 0.3s;
}
.cover-bg{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
}
.cover-content{
  transition: transform 0.3s;
}
/* 遮罩隐藏 */
.cover-hide{
  opacity: 0;
  pointer-events: none;
}
.cover-hide .cover-content{
  transform: translate(0, 1em);
}
.all-header h1{
  font-weight: lighter;
  font-size: 3em;
  letter-spacing: 0.1em;
}
.all-sort{
  margin-bottom: 2em;
}
.all-sort span{
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
.all-active::after{
  content: '';
  width: 100%;
  height: 0.1em;
  background: #65cdff;
  display: block;
}
.all-sort ul{
  display: inline-block;
}
.all-sort li{
  display: inline-block;
  cursor: pointer;
}
.all-content ul{
  height: fit-content !important;
}
.all-char-list{
  list-style: none;
}
.all-char-list h2{
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
}
.all-char-item{
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.2em;
  height: 8em;
  width: 6em;
  margin-right: 1em;
  overflow: hidden;
  padding-bottom: 0;
  display: inline-flex;
  justify-content: center;
  background: rgb(255 255 255 / 0.7);
  margin-bottom: 1em;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.all-char-item:hover{
  transform: translate(0, -0.5em);
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 0.3);
}
.all-char-item img{
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.all-char-info{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  text-shadow: 0px 0px 5px #dc3c78;
  width: 100%;
  background-image: linear-gradient(to bottom, #ffffff00 10%, #dc3c78 100%);
  padding: 0.2em;
}
.all-char-name{
  font-weight: bold;
}
/* 主体 */
.main{
  display: flex;
  align-items: center;
  height: calc(100% - 8em);
}
.card{
  width: 100%;
  height: 26em;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px -15px rgba(0, 0, 0, 0.2);
}
/* 内容区域 */
.char{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54em;
  height: 100%;
  margin: 0 auto;
}
.char-title, .char-pics{
  position: absolute;
}
/* 左侧信息 */
.char-title{
  left: 0;
}
.char-title-content{
  display: flex;
  align-items: center;
}
.char-month{
  font-size: 1.2em;
  margin-bottom: 0.6em;
  opacity: 0.6;
}
.char-name{
  width: max-content;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-shadow: 0 2px 2px rgba(0,0,0,.1);
  font-weight: lighter;
  width: max-content;
}
.char-fullname{
  font-size: 0.8em;
  margin: 1em 0;
  line-height: 1.5em;
}
.char-fullname p{
  width: max-content;
}
.char-info li{
  font-size: 0.8em;
  line-height: 1.5em;
  width: max-content;
  list-style: none;
}
.char-work{
  margin-top: 1em;
}
.char-work li{
  font-size: 0.8em;
  background: #eee;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  width: max-content;
  margin-bottom: 0.5em;
  list-style: none;
}
.char-work li:last-child{
  margin-bottom: 0;
}
/* 立绘 */
.char-cg{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  z-index: 2;
}
.char-cg div{
  position: absolute;
}
.char-img{
  display: flex;
  justify-content: center;
}
.char-img img{
  height: 28em;
  bottom: 0;
}
/* CG */
.char-pics{
  right: 0;
  width: 6em;
  height: 22em;
}
.char-pics li{
  list-style: none;
  margin: 1em 0;
  width: 6em;
  height: 6em;
  border: 1px solid #b1b1b1;
}
.char-pic li:hover .char-pic-item{
  transform: scale(1);
  opacity: 1;
}
.char-pics img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.9);
  opacity: 0.7;
  transition: transform 0.3s, opacity 0.3s;
}
/* 时间轴 */
.slider{
  height: 8em;
  background-color: rgba(238, 238, 238, 0.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='20' height='20' fill-opacity='0.6' fill='%23d7d7d7'/%3E%3C/svg%3E");
  overflow: hidden;
}
.slider-content{
  height: 100%;
  width: fit-content;
  user-select: none;
  transition-property: transform;
}
.slider-content ul{
  height: 100%;
  display: flex;
  align-items: center;
}
.slider-content li{
  list-style: none;
  margin: 0 1em;
}
.slider-icon{
  display: flex;
  justify-content: center;
  height: 5em;
  width: 5em;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #888;
  overflow: hidden;
}
.slider-icon img{
  height: 6em;
  pointer-events: none;
}
.slider-content p{
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  background: #888;
  color: #fff;
}
.slider-month{
  font-weight: bold;
  font-size: 2em;
  color: #888;
  width: max-content;
}
/* 文字过渡 */
.trans-name::before{
  content: "";
  position: absolute;
  display: block;
  background: #fff;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transform: translate(-100%, 0);
}
.test-enter-active, .test-leave-active{
  position: absolute;
}
.test-enter-active{
  z-index: 1;
}
.test-leave-active{
  z-index: 2;
}
.test-enter-active .trans-name::before{
  opacity: 1;
  transition: transform 0.5s ease 0.5s;
}
.test-leave-active .trans-name::before{
  opacity: 1;
  transition: transform 0.5s ease;
}
.test-enter .trans-name::before{
  transform: translate(0, 0);
}
.test-enter-to .trans-name::before{
  transform: translate(100%, 0);
}
.test-leave-to .trans-name::before{
  transform: translate(0, 0);
}
/* 立绘过渡 */
.left-enter-active, .left-leave-active{
  position: absolute;
  transition: all 1s;
}
.left-enter, .left-leave-to{
  opacity: 0;
}
.left-enter{
  transform: translate(20px, 0);
}
.left-leave-to{
  transform: translate(-20px, 0);
}

.right-enter-active, .right-leave-active{
  position: absolute;
  transition: all 1s;
}
.right-enter, .right-leave-to{
  opacity: 0;
}
.right-enter{
  transform: translate(-20px, 0);
}
.right-leave-to{
  transform: translate(20px, 0);
}
/* CG过渡 */
.pic-enter-active, .pic-leave-active{
  position: absolute;
}
.pic-enter-active li, .pic-leave-active li{
  transition: all 1s;
}
.pic-enter li, .pic-leave-to li{
  opacity: 0;
  transform: rotate(45deg) scale(0);
}

.char-pic li:nth-child(2){
  transition-delay: 0.2s;
}
.char-pic li:nth-child(3){
  transition-delay: 0.4s;
}
.char-small-name{
  font-size: 2em;
}
/* 移动端 */
@media (max-width: 750px) {
  .main{
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 5em);
  }
  .cover{
    padding: 1em;
  }
  .slider{
    height: 5em;
  }
  .slider-icon{
    height: 4em;
    width: 4em;
  }
  .slider-content li{
    margin: 0 0.8em;
  }
  .slider-month{
    font-size: 1.5em;
    margin: 0 0.4em !important;
  }

  .card{
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    margin: 0 auto;
    background: none;
    border: 0.1em dashed #fff;
    box-shadow: none;
  }
  .char-cg{
    width: 100%;
    height: calc(100% + 2em);
    position: absolute;
    bottom: 0;
  }
  .char-img{
    height: 100%;
  }
  .char-img img{
    height: 100%;
  }
  .char-cg-m-top{
    overflow: hidden;
    border-radius: 0 0 50% 50%;
  }
  .char-cg-m-bottom{
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .char-cg-m-bottom .char-img{
    /* 修复微信的傻逼BUG */
    height: calc(100% + 0.01px);
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .char-cg-m-bottom img{
    height: calc(100% + 2em);
    position: absolute;
    bottom: 0;
  }

  .round{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
  }

  .char-title{
    width: 100%;
    text-align: center;
    position: relative;
    height: 6em;
    margin-top: 1em;
    z-index: 2;
  }
  .char-name{
    width: 100%;
    font-size: 2em;
  }
  .char-month{
    margin-bottom: 0;
  }
  .char-work{
    margin-top: 0.3em;
  }
  .char-work li{
    background: #fff;
  }
  .char-m-info{
    width: 100%;
    height: 6em;
  }
  .char-m-left{
    position: absolute;
    left: 2em;
    bottom: 0;
  }
  .char-m-right{
    position: absolute;
    right: 2em;
    bottom: 0;
    text-align: right;
  }
  .char-small-name{
    font-size: 1.5em;
  }
}