<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/vue.js"></script>
  <title>Key Character Birthday Timeline</title>
</head>
<body>
  <div id="app">
    <div class="logo">
      <img src="img/key_logo.svg" alt="">
      <p>Character Birthday Timeline</p>
    </div>
    <div class="main">
      <div class="card">
        <div class="char">
          <div class="char-title">
            <transition-group name="test" tag="div" :duration="{ enter: 1000, leave: 500 }" class="char-title-content">
              <div v-for="item in show" :key="item.Name[0]">
                <p class="char-month trans-name">{{item.Month + '月' + item.Day + '日'}}</p>
                <h1 :style="{color: item.Color}" class="char-name trans-name">{{item.Name[0]}}</h1>
                <div class="char-fullname">
                  <p class="trans-name">{{item.Name[1]}}</p>
                  <p class="trans-name">{{item.Name[2]}}</p>
                  <p class="trans-name">{{item.Name[3]}}</p>
                </div>
              </div>
            </transition-group>
          </div>
          <div class="char-cg">
            <transition-group class="char-img" :name="direction" tag="div">
              <img v-for="item in show" :key = "item.CG" :src="'img/' + item.CG" alt="">
            </transition-group>
          </div>
        </div>
      </div>
    </div>
    <div @mousedown="slider_down" @mousemove="slider_move" @mouseup="slider_up" class="slider">
      <div :style="{transform: 'translate(' + sliderX + 'px ,0)', transition: sliderMove ? '' : 'transform 0.3s'}" class="slider-content">
        <ul>
          <li class="slider-month">7月</li>
          <li class="slider-item" @click="choose" data-id="0">
            <div class="slider-icon">
              <img src="img/test2.png" alt="">
            </div>
            <p>20日</p>
          </li>
          <li class="slider-item" @click="choose" data-id="0">
            <div class="slider-icon">
              <img src="img/test2.png" alt="">
            </div>
            <p>20日</p>
          </li>
          <li class="slider-month">12月</li>
          <li class="slider-item" @click="choose" data-id="1">
            <div class="slider-icon">
              <img src="img/test.png" alt="">
            </div>
            <p>24日</p>
          </li>
          <li class="slider-item" @click="choose" data-id="1">
            <div class="slider-icon">
              <img src="img/test.png" alt="">
            </div>
            <p>24日</p>
          </li>
          <li class="slider-item" @click="choose" data-id="1">
            <div class="slider-icon">
              <img src="img/test.png" alt="">
            </div>
            <p>24日</p>
          </li>
          <li class="slider-item" @click="choose" data-id="1">
            <div class="slider-icon">
              <img src="img/test.png" alt="">
            </div>
            <p>24日</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>