<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/data.js"></script>
  <script src="js/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script>
  <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
  <title>Key Character Birthday Timeline</title>
</head>
<body>
  <div id="app" @touchstart="touch_down" @touchmove="touch_move" @touchend="touch_up" v-cloak>
    <!-- logo -->
    <div class="logo">
      <img src="img/key_logo.svg" alt="">
      <p>Character Birthday Timeline</p>
    </div>
    <!-- 背景 -->
    <canvas id="star"></canvas>
    <!-- 主体 -->
    <div class="main">
      <div class="card">
        <!-- 内容区域 -->
        <div class="char">
          <!-- 人物信息 -->
          <div v-if="!isPhone" class="char-title">
            <transition-group name="test" tag="div" :duration="{ enter: 1000, leave: 500 }" class="char-title-content">
              <div v-for="item in show" :key="item.name[0]">
                <p v-if="item.month == 13" class="char-month trans-name">无</p>
                <p v-else class="char-month trans-name">
                  {{item.month + '月' + item.day + '日'}}
                  <span v-if="item.month == nowMonth && item.day == nowDay">，生日快乐！</span>
                </p>
                <h1 :style="{color: item.color}" class="char-name trans-name" :class="item.name[0].length >= 5 ? 'char-small-name' : ''">{{item.name[0]}}</h1>
                <div class="char-fullname">
                  <p class="trans-name">{{item.name[1]}}</p>
                  <p class="trans-name">{{item.name[2]}}</p>
                  <p class="trans-name">{{item.name[3]}}</p>
                </div>
                <ul class="char-info">
                  <li v-for="info in item.other" class="trans-name">{{info}}</li>
                </ul>
                <ul class="char-work trans-name">
                  <li v-for="info in item.from">{{info}}</li>
                </ul>
              </div>
            </transition-group>
          </div>
          <!-- 人物立绘 -->
          <div class="char-cg char-cg-m-top">
            <transition-group class="char-img" :name="direction" tag="div">
              <img v-for="item in show" :key="item.cg[0]" :src="'img/' + item.cg[0]" alt="">
            </transition-group>
          </div>
          <!-- 人物立绘 -->
          <div v-if="isPhone" class="char-cg char-cg-m-bottom">
            <transition-group class="char-img" :name="direction" tag="div">
              <img v-for="item in show" :key="item.cg[0]" :src="'img/' + item.cg[0]" alt="">
            </transition-group>
          </div>
          <!-- 人物CG -->
          <div v-if="!isPhone" class="char-pics">
            <transition-group name="pic" tag="div" duration="1000">
              <ul v-for="item in show" :key="item.name[0]" class="char-pic">
                <li v-if="index" v-for="(pic, index) in item.cg"><img :src="'img/' + pic" alt="" class="char-pic-item"></li>
              </ul>
            </transition-group>
          </div>
        </div>
      </div>
      <!-- 手机版人物信息 -->
      <div v-if="isPhone" class="char-title">
        <transition-group :name="direction" tag="div">
          <div class="char-m-info" v-for="item in show" :key="item.name[0]">
            <div class="char-m-left">
              <div class="char-fullname">
                <p>{{item.name[1]}}</p>
                <p>{{item.name[2]}}</p>
                <p>{{item.name[3]}}</p>
              </div>
              <ul class="char-info">
                <li v-for="info in item.other">{{info}}</li>
              </ul>
              <ul class="char-work">
                <li v-for="info in item.from">{{info}}</li>
              </ul>
            </div>
            <div class="char-m-right">
              <p v-if="item.month == 13" class="char-month">无</p>
              <p v-else class="char-month">
                {{item.month + '月' + item.day + '日'}}
                <span v-if="item.month == nowMonth && item.day == nowDay">，生日快乐！</span>
              </p>
              <h1 :style="{color: item.color}" class="char-name" :class="item.name[0].length >= 5 ? 'char-small-name' : ''">{{item.name[0]}}</h1>
            </div>
          </div>
        </transition-group>
      </div>
    </div>
    <!-- 时间轴 -->
    <div @mousedown="slider_down" @mousemove="slider_move" @mouseup="slider_up" v-if="data" class="slider">
      <div :style="{transform: 'translate(' + sliderX + 'px ,0)', transition: sliderMove ? '' : 'transform 0.3s'}" class="slider-content">
        <ul class="slider-list">
          <li @click="choose" :data-id="index" :data-month="item.month" v-for="(item, index) in data" class="slider-item">
            <div :style="{borderColor: nowTarget == index ? item.color : ''}" class="slider-icon">
              <img v-lazy="'img/' + item.cg[0]" :key="index" alt="">
            </div>
            <p v-if="item.day == 32" :style="{background: nowTarget == index ? item.color : ''}">无</p>
            <p v-else :style="{background: nowTarget == index ? item.color : ''}">{{item.day}}日</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>